* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #000;
    margin-bottom: 1em;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

li a {
    color: #FFF;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

li a:hover {
    color: #F00;
}

img {
    float: left;
    margin: 10px 20px;
}

p {
    margin: 10px 0;
    padding-right: 50%;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #00FF00;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: #0000FF;
    }

    .nav li {
        display: block;
    }
}