.flex-container {
	display: flex;
	flex-direction: row;
	background-color: #00F;
	justify-content: space-between;
	align-items: stretch;
	height: 300px;
}

.flex-container>div {
	background-color: #FFF;
	width: 200px;
	height: 90px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}